### Python new file day 2 git commit

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame(data=[[1,2,3],[2,3,4],[5,6,7]], columns=['red','blue','green'])

In [3]:
df

   red  blue  green
0    1     2      3
1    2     3      4
2    5     6      7